<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

</style>
</head>
<body>



<h1> Tweet Index  </h1>
<div>
    <% if user_signed_in? %>
        <%= link_to('Followers', followers_path(id: current_user.id))%>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp 
        <%= link_to('Following', following_path(id: current_user.id))%>
    <% end %>
</div>

<% @tweets.each do |tweet| %>
    <br/>
    <b>  ------------------------- </b>
    <p><%= tweet.text %> <%= link_to('View Tweet', tweet_path(tweet.id))%>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp 
    <%= link_to('Delete', tweet_path(tweet.id), method: :delete, data: {confirm: "Are you SURE?"}) unless user_signed_in? && current_user.id != tweet.user.id%>
    <br/> <%= ("@" + tweet.username) if tweet.username != nil %> 
    <% if user_signed_in? && current_user.id != tweet.user.id %>
        <% if !current_user.following?(tweet.user) %>
            <%= button_to "Follow", relationships_path(id: tweet.user.id), {:class => "button" }%>
        <%else%>
            <%= button_to "Unfollow", relationship_path(id: tweet.user.id), method: :delete, :class => "button" %>
        <%end%>
    <%end%>
    </p>
    
<% end %>
<div>
 
</div>

<h2></h2>
<b>  ------------------------- </b>
<br/>
<div>
    <%= link_to('new Tweet', new_tweet_path)%>
</div>